RewriteEngine On 
RewriteRule ^programme$ pages/program/program.php
RewriteRule ^program$ pages/program/program.php
RewriteRule ^faculty$ pages/program/faculty.php
RewriteRule ^mission$ pages/program/mission.php
RewriteRule ^nursing$ pages/program/nursing.php
RewriteRule ^nursing-congress$ pages/program/nursing.php
RewriteRule ^venue$ pages/program/venue.php
RewriteRule ^ghelamco$ pages/program/venue.php
RewriteRule ^sponsors$ pages/program/sponsors.php
RewriteRule ^registration$ pages/program/registration.php
RewriteRule ^register$ pages/program/registration.php
RewriteRule ^login$ pages/authentication/login.php [QSA]
RewriteRule ^logmein$ pages/authentication/login.php
RewriteRule ^proposedprogram$ pages/program/programv2.php
RewriteRule ^learning$ pages/program/online.php
RewriteRule ^online$ pages/program/online.php
RewriteRule ^bleeding$ pages/learning/viewer_free.php?id=113
RewriteRule ^artificial-intelligence$ pages/learning/viewer_free.php?id=136
RewriteRule ^colonoscopy$ pages/learning/viewer_free.php?id=56
RewriteRule ^polypectomy$ pages/learning/viewer_free.php?id=113
RewriteRule ^malignant-polyp$ pages/learning/viewer_free.php?id=157
RewriteRule ^ercp$ pages/learning/viewer_free.php?id=153
RewriteRule ^smic$ pages/learning/pages/scores/smic_mod.php
RewriteRule ^smic-new$ pages/learning/pages/scores/smic_mod.php
RewriteRule ^smi$ pages/learning/pages/scores/smic_mod.php


RewriteRule ^smsa$ pages/learning/pages/scores/smsa.php
RewriteRule ^caecal-score$ pages/learning/pages/scores/cecum.php
RewriteRule ^cecal-score$ pages/learning/pages/scores/cecum.php
RewriteRule ^cecum$ pages/learning/pages/scores/cecum.php
RewriteRule ^tip-control$ pages/learning/pages/scores/tip-control.php
RewriteRule ^privacy-policy$ pages/support/support_gieqs_privacy_policy.php
RewriteRule ^basic-colonoscopy$ pages/program/program_basic_colon.php
RewriteRule ^train-the-trainers$ pages/program/program_trainer_colon.php
RewriteRule ^polypectomy-upskilling$ pages/program/program_polypectomy_upskilling.php
RewriteRule ^imaging$ pages/program/program_imaging.php
RewriteRule ^small-intermediate-polypectomy$ pages/program/program_small_polypectomy.php
RewriteRule ^gieqsii$ pages/program/gieqs_ii.php
RewriteRule ^ii$ pages/program/gieqs_ii.php
RewriteRule ^2$ pages/program/gieqs_ii.php
RewriteRule ^second_edition$ pages/program/gieqs_ii.php
RewriteRule ^the_next_step$ pages/program/gieqs_ii.php
RewriteRule ^blog$ pages/learning/blog.php
RewriteRule ^technique-score$ pages/learning/pages/scores/technique.php
RewriteRule ^gpat$ pages/learning/pages/scores/technique.php
RewriteRule ^charitable$ pages/foundation/charitable.php
RewriteRule ^polypectomy-upskilling2$ pages/program/program_generic.php?id=55









RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(www\.)?gieqs\.com
RewriteRule ^(.*)$ https://www.gieqs.com/$1 [R,L]



