RewriteEngine On 
RewriteRule ^programme$ pages/program/program.php
RewriteRule ^program$ pages/program/program.php
RewriteRule ^faculty$ pages/program/faculty.php
RewriteRule ^mission$ pages/program/mission.php
RewriteRule ^nursing$ pages/program/nursing.php
RewriteRule ^nursing-congress$ pages/program/nursing.php
RewriteRule ^venue$ pages/program/venue.php
RewriteRule ^ghelamco$ pages/program/venue.php
RewriteRule ^sponsors$ pages/program/sponsors.php
RewriteRule ^registration$ pages/program/registration.php
RewriteRule ^register$ pages/program/registration.php
RewriteRule ^login$ pages/authentication/login.php
RewriteRule ^logmein$ pages/authentication/login.php
RewriteRule ^proposedprogram$ pages/program/programv2.php
RewriteRule ^learning$ pages/program/online.php
RewriteRule ^online$ pages/program/online.php
RewriteRule ^bleeding$ pages/learning/viewer_free.php?id=113
RewriteRule ^artificial-intelligence$ pages/learning/viewer_free.php?id=136
RewriteRule ^colonoscopy$ pages/learning/viewer_free.php?id=56
RewriteRule ^polypectomy$ pages/learning/viewer_free.php?id=113
RewriteRule ^malignant-polyp$ pages/learning/viewer_free.php?id=157
RewriteRule ^ercp$ pages/learning/viewer_free.php?id=153
RewriteRule ^smic$ pages/learning/pages/scores/smic.php



RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(www\.)?gieqs\.com
RewriteRule ^(.*)$ https://www.gieqs.com/$1 [R,L]



