.text-gieqsGold {

    color: rgb(238, 194, 120);
    
                   }
                   .bg-gieqsGold {
    
    background-color: rgb(238, 194, 120);
    
    }

    .cursor-pointer{

        cursor: pointer;
    }

    .col-sm-6 .dropdown-item{

        max-width: 100%;
        word-wrap: break-word;
        white-space: normal;
    
    }

   